/* index */

.drag-area {
    border-radius: 5px;
    width:100%;
    height:100px;
    background-color: rgba(232, 204, 176, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-area img {
    width: 50px;
}

.drag-area:hover img {
    width: 60px;
}

table {
    width: 100%;
    color: #373737;
    font-size: 14px;
}

td
{
    width: 20px;
    height: 20px;
}

.results-container {
    width: 100%;
    height: 200px;
    border-bottom: 0.5px solid lightslategray;
    overflow: auto;
}