/* index */

.drag-area {
    border-radius: 5px;
    width:100%;
    height:100px;
    background-color: rgba(232, 204, 176, 0.5);
    position: relative;
}

.drag-area img {
    width: 50px;
}

.upload-container,
.dragable-area {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dragable-area{
    z-index: 10;
}
/* .drag-area:hover img {
    width: 60px;
} */

table {
    width: 100%;
    color: #373737;
    font-size: 14px;
}

td
{
    width: 20px;
    height: 20px;
}

.results-container {
    width: 100%;
    height: 200px;
    border-bottom: 0.5px solid lightslategray;
    overflow: auto;
}

.load-area {
    align-items: center;
    justify-content: center;
    position: inherit;
    display: none;
}

.loader {
    width: 30px;
}