html, body {
  overflow: hidden;
  height: 100%;
  background-color: #f9f2eb;
  color: #373737;
  font-family: 'Exo2Light', sans-serif;
}

html {
  /* This allows the window to be dragged when the hidden-inset option is used */
  -webkit-app-region: drag;
}

@font-face {
    font-family: Exo2Light;
    src: url(../../font/EXO_2_OTF/Exo2-Light.otf);
}

@font-face {
    font-family: Exo2Medium;
    src: url(../../font/EXO_2_OTF/Exo2-Medium.otf);
}

@font-face {
    font-family: Exo2Regular;
    src: url(../../font/EXO_2_OTF/Exo2-Regular.otf);
}

.title {
    font-size: 45px;
}

.line {
    background-color: #373737;
    width: 100%;
    height: 2px;
    margin-top: 10px; 
    margin-bottom: 20px; 
}

.simple-line {
    background-color: #898989;
    width: 90%;
    height: 1px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.drag-area {
    border-radius: 5px;
    width:100%;
    height:100px;
    background-color: rgba(232, 204, 176, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-area img {
    width: 50px;    
}

.drag-area:hover img {
    width: 60px;    
}

.results {
    width: 100%;
    color: #373737;
    font-size: 14px;   
}

/* settings */

.settings-form,
.settings-login-form {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings-label {
    font-size: 12px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;       
}

.settings-label input {
    width: 100%;  
    margin-top: 20px;     
}

.settings-button {
    margin-top: 30px;
    margin-bottom: 30px; 
    width: 100%;
    height: 30px;
    font-size: 13px;    
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

#logout {
    display: none;
}
