<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sub Fetch - About</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="title">About</div>
    <div class="line"> </div>
    <div class='about'>
        <p>Simple App for subtitles download. Just drag and drop your tv-shows or movies files to yellow area.</p>
        <p>SubFetch will dowload subtitles and save them on same movie/tv-show directory for you.</p>
        <p>
            Subtitles service powered by
            <a href="www.OpenSubtitles.org">OpenSubtitles</a>
            <img id="os-img" src="../images/opensubtitles/logo-transparent.png" />
        </p>





    </div>
    <script>
        // require('./../src/settings/auth.js');
        // require('./../src/settings/settings.js');
    </script>
</body>

</html>