<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sub Fetch</title>
	<meta charset="UTF-8"/>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/_index.css">
</head>
<body>
    <div class="title">SubFetch</div>
    <div class="line"> </div>
    <div class="drag-area" id="holder">
        <img src="../images/upload3.png" />
    </div>

    <h2>Feedback: </h2>

    <p id="text"></p>

    <table class="results" id="sub-result">
    </table>
    <script>
        require('./../src/index.js');
    </script>
</body>
</html>